<p>feedback works!</p>

<div class="container mt-4">
    <h2>User Table</h2>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>STAFF NAME</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Active</th>
          <th>CreatedOn</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let staff of RoomService">
          <td>{{ staff.id }}</td>
          <td>{{ staff.staffname}}</td>
          <td>{{ staff.lastName }}</td>
          <td>{{ staff.email }}</td>
          <td>{{ staff.isActive}}</td>
          <td>{{ staff.createdOn}}</td>
          <td> -->
            <!-- <button class="btn btn-primary btn-sm" (click)="editUser(user.id)">Edit</button>
            <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">Delete</button> -->
          <!-- </td> -->
        <!-- </tr> -->
      </tbody>
    </table>
  </div>
